<p id="notice"><%= notice %></p>

<p>
  <strong>User</strong><br>
</p>

<p>
  <strong>Full Name:</strong><br>
  <%= @user.name %><br>
</p>

<p>
  <strong>Username:</strong><br>
  <%= @user.username %><br>
</p>

<section class="stats">
  <%= render 'shared/stats' %>
</section><br>


  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.tweets.any? %>
    <h3>Tweets ( <%= @user.tweets.count %> )</h3>
      <% @tweets = Tweet.paginate(page: params[:page], per_page: 10) %>

      <%= render @tweets %>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div>



<%= link_to 'Back', users_path %>