
<p>
  <h1>Esta es tu pagina personal</h1><br>
  <h4>Aqui encuentras tus tweets y la informacion de tus seguidores: </h4><br>
</p>

  <section class="stats">
    <%= render 'shared/stats' %>
  </section><br>
<%# <div>
  <h5>Conexiones</h5>

  <table>
    <thead>
      <tr>
        <th>Followers</th>
        <th>Following</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= link_to current_user.followers.count %>
<%#           <td><%= link_to current_user.followees.count %>
<%#         </tr>
    </tbody>
  </table>
</div> %>

  <div class="col-md-8">
    <% if current_user.tweets.any? %>
    <h3> Mis Tweets ( <%= current_user.tweets.count %> )</h3>
      <% @tweets = current_user.tweets.paginate(page: params[:page], per_page: 10) %>

      <%= render @tweets %>
      <%= will_paginate @tweets %>
    <% end %>
  </div>